/* .flex-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
} */

/* .ant-checkbox-group-item {
  display: flex;
  align-content: center;
  align-items: center;
}

.ant-checkbox-group-item span {
  display: flex;
}

.ant-checkbox {
  display: flex;
} */

.ant-checkbox-group-item {
  display: block;
  margin-right: 0;
}

/* .ant-typography.no-margin {
  margin-bottom: 0em;
} */
