.ant-typography.custom-margins {
  margin-top: 0.5em;
  margin-bottom: 0em;
}

.ant-checkbox-group.vertical {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.ant-checkbox-group.vertical > .ant-checkbox-group-item {
  margin-left: 27%;
  margin-right: 0%;
}
